<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>View 1</title>
</head>

<body>
	<form action="#" data-th-action="@{/items}" data-th-object="${model}" method="post">
		<h1>Shopping Cart</h1>
		<table>
			<tr>
				<td>Item:</td>
				<td>
					<select id="item" name="item">
						<option value="apple">Apple</option>
						<option value="orange">Orange</option>
						<option value="bread">Bread</option>
						<option value="cheese">Cheese</option>
						<option value="chicken">Chicken</option>
						<option value="mineral_water">Mineral Water</option>
						<option value="instant_noodles">Instant Noodles</option>
						</option>
					</select>
					</select>
				</td>
			</tr>
			<tr>
				<td>Quantity:</td>
				<td>
					<input type="number" min="1" name="quantity" size="4" placeholder="Quantity">
				</td>
			</tr>
		</table>

		<table border="1" style="margin-top: 2vh; margin-bottom: 2vh;">
			<thead>
				<tr>
					<th>Item</th>
					<th>Quantity</th>
				</tr>
			</thead>
			<tbody>
		        <tr th:each="item : ${items}">
		            <td><span th:text="${item.item}"> Item </span></td>
		            <td><span th:text="${item.quantity}"> Quantity </span></td>
		        </tr>
		    </tbody>
		</table>

		<div>
			<button type="submit" name="action" value="add">Add</button>
			<button type="submit" name="action" value="next">Next</button>
		</div>
	</form>
</body>

</html>